c_compiler_version:          # [(osx and arm64)]
  - 17                       # [(osx and arm64)]
cxx_compiler_version:        # [(osx and arm64)]
  - 17                       # [(osx and arm64)]
cuda_compiler_version:       # [((linux or win) and x86_64)]
  - 12.8                     # [((linux or win) and x86_64)]
gpu_variant:
  - cpu
  - metal                    # [(osx and arm64)]
# - cuda                     # [((linux or win) and x86_64)]
# CONDA_BUILD_SYSROOT is defined in the base cbc.yaml, but it's reflected here so we can zip the keys and
# build GPU and CPU at the same time for osx-arm64. It'll need to be manually updated here if the base cbc is changed.
# This could be done using extend_keys instead, with a change to the base cbc.yaml.
# However there's currently a conda-forge bug that prevents this: https://github.com/conda/conda-build/issues/5048
MACOSX_DEPLOYMENT_TARGET:    # [(osx and arm64)]
  - 12.1                     # [(osx and arm64)]
  - 12.1                     # [(osx and arm64)]
CONDA_BUILD_SYSROOT:         # [(osx and arm64)]
  - /Library/Developer/CommandLineTools/SDKs/MacOSX12.1.sdk  # [(osx and arm64)]
  - /Library/Developer/CommandLineTools/SDKs/MacOSX12.1.sdk  # [(osx and arm64)]
zip_keys:                    # [(osx and arm64)]
  - gpu_variant              # [(osx and arm64)]
  - MACOSX_DEPLOYMENT_TARGET # [(osx and arm64)]
  - CONDA_BUILD_SYSROOT      # [(osx and arm64)]
